* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-wrapper {
    width: 100%;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#form input {
    background-color: #9CC6DB;
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

#form input:hover {
    border-color: #CF4B00;
    box-shadow: 0 0 5px rgba(4, 62, 93, 0.5);
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-wrapper button {
    width: 100%;
    font-size: 1.2rem;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    padding: 7px;
    transition: box-shadow 0.3s ease;
}

#searchButton {
    background-color: #36454F;
}

#searchButton:hover {
    background-color: #4f5d66;
}

#clearButton {
    background-color: rgb(196, 9, 9)
}

#clearButton:hover {
    background-color: rgb(150, 0, 0);
}

.imageList-wrapper {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.imageList-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid #CF4B00;
}